﻿@model SiteAudi.Content.ModelImage
@using SiteAudi.Content
       
<script src="@Url.Content("~/Scripts/ScriptLR2.js")" type="text/javascript"></script>
<body>
        @section Registration
        {
            @if (HttpContext.Current.Request.Cookies["AuthId"] != null)
            {
                <div class="registration">
                @using (Html.BeginForm("LogOff", "Authentication"))
                {
                    <label>Здравствуйте, <br /> @AuthHelp.GetUserById(int.Parse(HttpContext.Current.Request.Cookies["AuthId"].Value)).FirstName</label> <br />  
                    <input type="submit" value="Выйти" class="button" />
                }
                </div> 
            }
            else
            {
                <div class="registration">
                    @using (Html.BeginForm("Index", "Authentication"))
                    {
                            <label>Вход</label> <br />
                            @Html.TextBox("login", null, new { placeholder="Email", pattert = @"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" })<br />
                            <br />
                            @Html.Password("pwd", null, new { placeholder = "Пароль" })<br />
                            if (TempData["ErrorPassword"] != "")
                            {
                                <text>@TempData["ErrorPassword"]</text>
                            }
                            <input type="submit" name="enter" value="Войти" class="button" />
                            @Html.ActionLink("Регистрация", "Index", "Registration")
                    }
                    </div>
            }       
        }

        @section Slider
        {
            <div class="slide">
                @for (int i = 0; i < Model.IMAGES.Count; i++)
                {
                    <img src="@Url.Content(@Model.IMAGES[i])" id="@i" />
                }
            </div>
        }
        @section News
        {
        <div class="news">
            Новости мира Ауди
                <ul>
                    <li>
                        <figure>
                            <a href="http://audi.infocar.com.ua/news_103047.html"><img src="@Url.Content("~/Images/NewsImages/1.jpg")" /></a>
                                <figcaption>"Дизельный скандал"</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="http://audi.infocar.com.ua/news_103065.html"><img src="@Url.Content("~/Images/NewsImages/2.jpg")" /></a>
                                <figcaption>Audi на Луне</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="http://audi.infocar.com.ua/news_102997.html"><img src="@Url.Content("~/Images/NewsImages/3.jpg")" /></a>
                            <figcaption>Светотехника будущего</figcaption>
                        </figure>
                    </li>
                </ul> 
        </div>
        }
        @section Footer {
            Я хочу знать о специальных предложениях Audi первым
            <input type="text" name="email" placeholder="E-mail" />
            <a href="#">Подписаться</a>
        }
</body>
