﻿@model IEnumerable<SiteAudi.Models.Accessory>
@{
    ViewBag.Title = "Аксессуары";
}

<body>
        @foreach (SiteAudi.Models.Accessory acs in Model)
        {
            <table class="tableaccessory">
                <tr>
                    <td><p>@Html.DisplayFor(modelItem => acs.NameAccessory)</p></td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(modelItem => acs.DescriptionAccessory)</td>
                </tr>
                <tr>
                    <td><p><img src="@Url.Content(acs.ImagePathAccessory)" /></p></td>
                </tr>
            </table>
        }
</body>