﻿@{
    ViewBag.Title = "Index";
}

<body>
    <div class="contacts">
            <p>
Наш адрес:
04112, Украина, Киев
ул. Котляра, 112<br />
тел: +38 057 111-77-55<br />
факс:+38 057 111-77-98<br />
info@audi.kh.ua
            </p>  

            <p>
График работы:<br />
понедельник - суббота: с 09:00 до 21:00<br />
воскресенье: с 10:00 до 19:00
            </p>

            <p>
Отдел продаж:<br />
тел: +38 044 537-33-20<br />
sales@audi.kh.ua
            </p>

            <p>
Сервис:<br />
тел.: +38 057 777-33-35<br />
тел.: +38 057 777-55-67 - предварительная запись на сервис
service@audi.kh.ua
            </p>

            <p>
Отдел гарантии:<br />
тел.: +38 057 457-77-08
garant@audi.kh.ua
            </p>
    </div>
</body>