﻿@model SiteAudi.Models.OrderCar

@{
    ViewBag.Title = "Заказ";
}

<body>
    <div class="ordercar">
        @using (Html.BeginForm())
        {
            <label>Ввести данные</label>
            <br /><br />
            @Html.LabelFor(model => model.NameCustomer, "Имя")
            <br />
            @Html.EditorFor(model => model.NameCustomer)
            @Html.ValidationMessageFor(model => model.NameCustomer)
            <br /><br />
            @Html.LabelFor(model => model.EmailCustomer, "E-mail")
            <br />
            @Html.EditorFor(model => model.EmailCustomer)
            @Html.ValidationMessageFor(model => model.EmailCustomer)
            <br /><br />
            @Html.LabelFor(model => model.PhoneCustomer, "Телефон")
            <br />
            @Html.EditorFor(model => model.PhoneCustomer)
            @Html.ValidationMessageFor(model => model.PhoneCustomer)
            <br />
            @Html.TextBoxFor(model => model.IdCar, new { style = "display:none", @Value = ViewBag.IdOrderCar })
            <input type="submit" value="Оформить заказ" class="button" /> <br />
        }
    </div> 
</body>