﻿body 
{
    margin : 0 auto;
    background-image : url("/Images/bg.png");
}

header
{
    background-color:hsl(45, 0%, 75%);
    height : 120px;
    width : auto;
    background-image : url("/Images/bg.png");
}

.logoimgleft
{
    float:left;
    height:120px;
    margin-right:90px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

.logoimgright
{
    position:absolute;
    float:right;
    right:0px;
    height:120px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

.mainmenu
{
    float:left;
    margin-top:50px;
}

.mainmenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainmenu ul li
{
    float: left;
	margin-right: 20px;
    font-size: 20px;
	text-shadow:  gray 5px 0px 5px;
}

.mainmenu ul li a
{
    text-decoration:none;
    color:darkblue;
}

.wrapper
{
    width :70%;
    margin : auto;
}

.registration
{
    color:darkblue;
    width : 185px;
    float : left;
    text-align:center;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
    font-size: 20px;
    text-shadow:  gray 5px 0px 5px;
    margin-top : 10px;
    position: relative;
}

.registration a
{
    font-size: 14px;
	text-shadow: blue 0 0px 0;
    color:darkblue;
}

.registration input
{
    margin-bottom : 5px;
}

.slide
{
    margin-top : 10px;
    margin-left:19px;
    margin-bottom:10px;
    float : left;
    height:332px;
    width:548px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

.button {

/* text */
	font-size: 	            14px;
	text-shadow:            blue 0 1px 0;
	
	
/* layout */
	margin-top:             20px;
    margin-right :          6px;
	display: 				inline-block;
	position: 				relative;
	
	-webkit-border-radius: 	3px;
	-moz-border-radius: 	3px;
	border-radius: 	        3px;
	
/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
	background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%), url(noise.png);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);

	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;
	
/* color */
	color: 				hsl(0, 0%, 40%) !important;
	background-color: 	hsl(0, 0%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}

.news
{
    height : 230px;
    color:darkblue;
    clear:both;
    text-align: center;
    font-size: 20px;
    text-shadow:  gray 5px 0px 5px;
    text-align:center;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
}

.news ul
{
    display : inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.news ul li
{
    float: left;
}

.news img
{
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
}

.news img:hover
{
    transform-origin: 0 100%;
    opacity: .9;
    -webkit-transform : scale(1.06,1.06);
    -webkit-transition-duration : 350ms; 
}

footer
{
    clear:both;
    margin-top:10px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    color:darkblue;
}

footer input
{
    margin-right : 5px;
    margin-left : 5px;
    height : 10px;
}

.tablecar
{
    margin-left : 200px;
    margin-top : 10px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    color:darkblue;
}

.tablecar td
{
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    color:darkblue;
    text-align : center;
}

.tableaccessory
{
    text-align:justify;
    margin-top : 10px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    color:darkblue;
}

.tableaccessory p
{
    font-size : 20px;
    text-align : center;
}

.filter
{
    float : left;
    color:darkblue;
    height: 165px;
    width : 185px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
    font-size: 20px;
    text-shadow:  gray 5px 0px 5px;
    position: relative;
}

.filter label
{
    margin-left : 60px;
}

.filter .button
{
    margin-left : 50px;
}

.ordercar
{
    width : 185px;
    margin: 0 auto;
    text-align : center;
    color:darkblue;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
    font-size: 20px;
    text-shadow:  gray 5px 0px 5px;
}

.ordercar .button
{
    margin-bottom : 5px;
}

.authforordercar
{
    margin : 0 auto;
    width : 300px;
    margin-top : 10px;
    text-align : center;
    color:darkblue;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
    font-size: 20px;
    text-shadow:  gray 5px 0px 5px;
}

.field-validation-error {
    color: #f00;
    font-size : 16px;
}
 
.field-validation-valid {
    display: none;
}
 
.input-validation-error {
    border: 1px solid #006699;
    background-color: silver;
    /*border: 1px solid #f00;
    background-color: #fee;*/
}

.resultordercar
{
    margin : 0 auto;
    width : 300px;
    margin-top : 10px;
    text-align : center;
    color:darkblue;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
    font-size: 20px;
    text-shadow:  gray 5px 0px 5px;
}

.contacts
{
    text-align : center;
    color:darkblue;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 40px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
    text-shadow:  gray 5px 0px 5px;
    width : 550px;
    margin : 0 auto;
    font-size : 20px;
}

.registrationform
{
    width : 185px;
    margin: 0 auto;
    text-align : center;
    color:darkblue;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
    font-size: 20px;
    text-shadow:  gray 5px 0px 5px;
}

.registrationform .button
{
    margin-bottom : 5px;
}

.resultregistration
{
    margin : 0 auto;
    width : 300px;
    margin-top : 10px;
    text-align : center;
    color:darkblue;
    -moz-border-radius: 9px;
    -webkit-border-radius: 1px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 50px rgba(0, 0, 0, 0.4),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2); 
    font-size: 20px;
    text-shadow:  gray 5px 0px 5px;
}