﻿@model IEnumerable<SiteAudi.Models.Car>

<body>
        <div class="filter">
            @using (Html.BeginForm("Index", "Car", FormMethod.Post))
            {
                <label>Фильтр</label> <br /> <br />
                @Html.CheckBox("Cars", false) <text>Легковые</text> <br />
                <br />
                @Html.CheckBox("SUV", false) <text>Внедорожные</text><br />
                <input type="submit" name="apply" value="Применить" class="button" />
            }
        </div>

    <table class="tablecar">
        <tr>
            <td><p>Модель</p></td>
            <td><p>Описание</p></td>
            <td><p>Цена</p></td>
            <td><p>Категория</p></td>
            <td colspan="2"></td>
        </tr>
        @foreach (SiteAudi.Models.Car car in Model)
        {
            <tr>
                <td><p>@Html.DisplayFor(modelItem => car.ModelCar)</p></td>
                <td><p>@Html.DisplayFor(modelItem => car.DescriptionCar)</p></td>
                <td><p>@Html.DisplayFor(modelItem => car.PriceCar)</p></td>
                <td><p>@Html.DisplayFor(modelItem => car.Category.NameCategory)</p></td>
                <td><p><img src="@Url.Content(car.ImagePathCar)" /></p></td>
                <td><p>@Html.ActionLink("Купить", "Index", "OrderCar", new { IdOrderCar=car.Id }, null)</p></td>
            </tr>
        }
    </table>

    @section Footer {
        Я хочу знать о специальных предложениях Audi первым
        <input type="text" name="email" placeholder="E-mail" />
        <a href="#">Подписаться</a>
    }
</body>
