﻿@model SiteAudi.Models.User

@{
    ViewBag.Title = "Регистрация";
}

<body>
    <div class="registrationform">
        @using (Html.BeginForm())
        {
            <label>Ввести данные</label>
            <br /><br />
            @Html.LabelFor(model => model.FirstName, "Имя")
            <br />
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
            <br /><br />
            @Html.LabelFor(model => model.LastName, "Фамилия")
            <br />
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
            <br /><br />
            @Html.LabelFor(model => model.Email, "Email")
            <br />
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
            <br /><br />
            @Html.LabelFor(model => model.Phone, "Телефон")
            <br />
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
            <br /><br />
            @Html.LabelFor(model => model.Password, "Пароль")
            <br />
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
            <br /><br />
            <text>Повторить пароль</text> <br />
            @Html.Password("ConfirmPassword", null, new { required = true })
            <br />
            <input type="submit" value="Зарегистрироваться" class="button" /> <br />
        }
    </div>
</body>