﻿<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")" type="text/javascript"></script>
</head>
<body>
    <header>
        <div class="logoimgleft">
            <img src="@Url.Content("~/Images/LogoAudi.jpg")" />
        </div>
        <div class="mainmenu">
            <ul>
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("Авто", "Index", "Car")</li>
                <li>@Html.ActionLink("Аксессуары", "Index", "Accessory")</li>
                <li>@Html.ActionLink("Контакты", "Index", "Contacts")</li>
            </ul>
        </div>
        <div class="logoimgright">
            <img src="@Url.Content("~/Images/LogoAudi.jpg")" />
        </div>
    </header>
    <div class="wrapper">
        @RenderBody()
        @RenderSection("Registration", false)
        @RenderSection("Slider", false)
        @RenderSection("News", false)
        <footer>@RenderSection("Footer",false)</footer>
    </div>   
</body>
</html>
